# Core functionality - changes here should be rare!
/src/app.py                   @zemain
/src/backend/database.py      @zemain
/src/backend/routers/auth.py  @zemain

# The frontend will need refactored soon to be more object oriented.
/src/static/   @zemain  
